root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.sln]
indent_style = tab
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

# Verify settings
# https://github.com/VerifyTests/Verify/blob/main/docs/wiz/Windows_VisualStudio_Gui_Xunit_None.md#text-file-settings
[*.{received,verified}.{txt,xml,json}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
